<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" action="/signup" method="post">
                                    {{#if check}}
                                    <p class="text-danger text-center">{{check}}</p>
                                    {{/if}}


                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="userName" class="form-control" name="Name"
                                                placeholder="Your Name" onkeyup="validateName()" required>
                                            <p id="name-error" class="text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-mobile fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="number" id="phoneNumber" maxlength="10" class="form-control"
                                                name="Mobile" placeholder="Your Mobile" onkeyup="validatePhoneNumber()"
                                                required>
                                            <p id="phone-error" class="text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="email" class="form-control"
                                                placeholder="Email Address" onkeyup="validateEmail()"
                                                name="Emailaddress" required>
                                            <span id="email-error" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="pass" class="form-control" placeholder="Password"
                                                onkeyup="validatePass()" name="Password" required>
                                            <span id="pass-error" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="confirmPass" class="form-control"
                                                placeholder="Confirm Password" required>
                                            <input type="text" value="{{refer}}" name="referedBy" hidden>
                                        </div>
                                    </div>

                                    <a href="/login">Already have an account ?</a>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg"
                                            onclick="return validateForm()">Register</button>
                                    </div>
                                    <span id="sub-error" class="text-danger"></span>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var nameError = document.getElementById('name-error');
    var phoneError = document.getElementById('phone-error')
    var emailError = document.getElementById('email-error');
    var passError = document.getElementById('pass-error');
    var submitError = document.getElementById('sub-error');



    function validateName() {
        var name = document.getElementById('userName').value;

        if (name.length == 0) {
            nameError.innerHTML = 'Name is required';
            return false;
        }
        if (!name.match(/^[A-Za-z]*\s{1}[A-Za-z]*$/)) {
            nameError.innerHTML = 'Write full name';
            return false;
        }
        nameError.innerHTML = '<i class="fa-solid fa-circle-check text-success"></i>';
        return true;
    }

    function validatePhoneNumber() {
        var message = document.getElementById('phoneNumber').value;
        var required = 10;
        var left = required - message.length;

        if (left > 0) {
            phoneError.innerHTML = left + 'more character required';
            return false;
        }

        phoneError.innerHTML = '<i class="fa-solid fa-circle-check text-success"></i>';
        return true;
    }

    function validateEmail() {
        var email = document.getElementById('email').value;

        if (email.length == 0) {
            emailError.innerHTML = 'Email is required'
            return false;
        }
        if (!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)) {
            emailError.innerHTML = 'Email invalid'
            return false;
        }
        emailError.innerHTML = '<i class="fa-solid fa-circle-check text-success"></i>';
        return true;
    }

    function validatePass() {
        var pass1 = document.getElementById('pass').value;
        if (pass1.length < 5) {
            passError.innerHTML = 'min 5 char needed'
            return false;
        }

        passError.innerHTML = '<i class="fa-solid fa-circle-check text-success"></i>';
        return true;
    }

    function Validate() {
        var password = document.getElementById("pass").value;
        var confirmPassword = document.getElementById("confirmPass").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }

    function validateForm() {
        if (!Validate() || !validatePass() || !validateEmail() || !validatePhoneNumber() || !validateName()) {
            submitError.innerHTML = 'Please fix all errors to submit'
            setTimeout(function () { submitError.style.display = 'none'; }, 5000);
            return false;
        }
    }    
</script>