figure.containerZoom {
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: zoom-in;
    margin: 0
}

figure.containerZoom img {
    transition: opacity .5s;
    display: block;
    width: 100%
}

figure.containerZoom.active img {
    opacity: 0
}